<div style="width:100%; margin-top: 150px; margin-bottom: 150px;">
		 <header class="text-center">
            <h1>Upload your File</h1>
          </header>

          <div style="width: 70%; margin-left: 90px;">
		<%= render 'form' %>
	</div>
	
</div>


